.brdoerthreebtn {
  border-radius: 10px;

}
.runing{
  color: #fff;
  background-color: #4444442b;
}

.whitespace {
  font-size: small;
}

@media (max-width: 991px) {
  .per {
    width: 50% !important;
  }
}

@media (min-width: 991px) {
  .imagetext {
    font-size: small;
  }
}

.allborder {
  height: 180px;
  width: 271px;
}

.imagetext {
  font-weight: 600;
  white-space: nowrap;
 
}

.picsmall {
  width: 25px;
}

.towgap {
  gap: 15px;
}

.air:hover {
  background-color: rgba(128, 128, 128, 0.47);
  border-radius: 10px;
  color: black;

}

.mainborder {
  border-radius: 1rem;

}

.add_newclass {
  display: grid;
  justify-content: center;
}

.add_newclass {
  padding: 24px 24px 0px 24px;
}

.allborder {

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.navbaricons {
  width: 25px;
}

svg {
  width: 25px;
}

/* Initial state: keep the navbar hidden on mobile screens */



.navbaricons{
  width: 25px;
}
.dark-mode .navbar-collapse{
  background-color: #191923 !important;
}
@media (max-width : 992px){
  .displaycouman{
    margin-right: 152px ;
  } }

.cls {
  gap: 1.5rem;
  display: grid;
}
.experience-logo {
  width: 2.5rem;
}

.experience-card {
  height: 287px;
}

.position-relative {
  position: relative;
}

.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  background-color: gray;
  border-radius: 50%;
}

.hello:hover .hover-icon {
  opacity: 1;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  stroke: white;
  /* Change this to the color you want */
}

.image-to-open {
  display: block;
  max-width: 100%;
  
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.hello:hover .image-to-open {
  transform: scale(1.05);
}


video {
  height: 200px;
}

.imagetextes {
  white-space: nowrap;
  font-size: large;
}

.navbaricons{
  width: 25px;
}

.dark-mode .nav-link {
  color: white !important;
}
 /* six bottom */

 svg {
  width: 25px;
}
/* Initial state: keep the navbar hidden on mobile screens */
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    background-color: #fff;
    left: -100%;
    height: 100%;
    width: 350px;
   
    transition: left 0.3s ease-in-out;
    z-index: 9999;
  }
  /* When the navbar is open */
  .navbar-collapse.show {
    left: 0px;
  }
  .collapsee{
    display: flex;
  }
  .displaycouman{
    display: inline-grid;
  }
  .moones{
    border: none;
    background-color: #fff;
    display: flex;
  }
  .profile-card{
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
.displanonoe{
  display: none;
}
.mincss{
  margin-left: -13px;
  font-size: small;
}
.displaycouman{
  display: flex;
}
.btn-dark{
white-space: nowrap;
}
.imagetoted{
  font-size: large;
}
.moones{
  border: none;
  background-color: #fff;
}

.lastcard{
  height: 95% !important;
}
}
.towgap{
  gap: 15px;
}
.mainborder{
  border-radius: 1rem;

}
.navbarlogo{
  width: 7rem;
  background-color: transparent !important;
    }
.air:hover {
  background-color: rgba(128, 128, 128, 0.47);
  border-radius: 10px;
  color: black;
}
/* Aashish Bhagwat 👋 open meida qurey */
.p-c {
  position: sticky;
  height:33rem;
  top: 0px;
  overflow: hidden;
}


/* Aashish Bhagwat 👋 close meida qurey */
.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  background-color: gray;
  border-radius: 50%;
}

.hello:hover .hover-icon {
  opacity: 1;
}

.svg-icon {
  width: 2rem;
  height: 2rem;
  stroke: white; /* Change this to the color you want */
}


.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.lastsvg{
  width: 15px;
}


.sizebg{
  width: 200px;
  background-color:transparent;
  }

/* Default light mode */

/* 
.navbar a  {
color: black;
} */

button#darkModeToggle {
background-color: transparent;
border: none;
color: black;
}

/* Dark mode styles */
.dark-mode .navbar   ul  {
background-color: #191923;
color: white;

}
.sizebg .dark-mode {
  background-color: #191923;
  
}

.dark-mode .navbar a li {
color: white !important;
}

.dark-mode #darkModeIcon {
color: yellow;
}

button#darkModeToggle .fa-moon {
color: white;
}

.dark-mode .fa-moon {
display: none;
}

.dark-mode .fa-sun {
display: inline-block;
color: yellow !important;
}
.sun{
color: #191923 !important;

}
/* Dark mode styles for card */
/* .body.dark-mode .profile-card  {
background-color: #191923 ;
color: white;
} */

/* Dark mode style for heading */
/* .dark-mode .profile-card .heading {
color: white;
} */

/* Optional: Style paragraph and buttons for dark mode */
.dark-mode .profile-card .paragraph {
color: rgba(255, 255, 255, 0.785);
}
.dark-mode .profile-card .stongers .heading {
color: #fff;
}

.dark-mode .profile-card .btn,
.dark-mode .profile-card .social-links button {
background-color: #191923; /* Dark gray background */
color: white;
border-color: #444; /* Border color for dark mode */
}
.dark-mode .social-links-icon   {
background-color: #191923;
color: rgb(100 116 139 );
opacity: 1;
}
body.dark-mode{
background-color: #191923; /* Dark gray background */
color: white;
border-color: #444;

}
.navbar-collapse.dark-mode{


  transition: left 0.3s ease-in-out;
  z-index: 1;
  background: #191923;
}
@media (max-width : 992px){
  .displaycouman{
    margin-right: 107px ;
  }
  .p-c{
    height: auto;
  }
}
.dark-mode .navbar-collapse{
  background-color: #191923 !important;
}
.heading{
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
}
.fontweight{
  font-weight: 800;
  text-align: left;
}
.lineheight{
  line-height: normal;
}
.paragraph{
  font-size: clamp(14px, 1vw, 1rem);
} 
.skill-card {
  background-color: #44444419;
}
.tex_img{
  border: 1px solid #44444421 ;
  --tw-bg-opacity: 1;
    background-color: rgb(240 242 245 );
    color:#444;
}

.imges{
 color: #444;
  
  
}
.add_newclass{
  height: 204px;
}
.mainphoto{
  width: 100%;
}
.lastcard {
  height: 100px;
}
@media (max-width : 992px) {
  .lastcard {
    height: 270px;
  }
}
.navbar-nav{
  width: min-content  ;
}
@media (max-width: 992px) {
  .displaycouman {
      margin-right: 162px;
  }
}